# Ignore Python virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore model files (optional)
*.h5
*.model

# Ignore system files
.DS_Store
Thumbs.db
